*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    background-color: #E5E5E5;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #E5E5E5;
}

header .container{
    display: flex;
}

header .logo-princial{
    margin:0;
    padding: 24px 16px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.container .input-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    color: #0A3871;
    font-size: 30px;
    padding: 9px;
    border-style: none;
    outline: none;
    resize: none;
}

.container button{
    display: flex;
    justify-content: center;
    width: 270px;
    margin: 24px;
}

button{
    display: flex;
    justify-content: center;
    width: 280px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #0A3871;
}

button:hover{
    background-color: #104d96;
    transition: 0.5s;
}

.container .mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A3871;
    font-size: 24px;
    padding: 24px;
    margin: 0 0 30px 0;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border-style: none;
    outline: none;
    background-image: url(imagenes/Muñeco-recorte-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    resize: none;
    width: 315px;
    height: 200px;
    
}

.button-copiar{
    display: flex;
    position: relative;
    justify-content: center;
    vertical-align: baseline;
    align-items: center;
    text-align: center;
    margin: 0 0 30px 0;
}

footer{
    background-color: white;
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

footer .logo-alura{
    margin:0 20px;
    padding: 24px 16px;
}

@media (min-width: 600px) {
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .input-text{
        font-size: 32px;
        width: 600px;
    }

    .container .mensaje{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(imagenes/Muñeco-recorte-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        resize: none;
        height: 300px;
        width: 60vh;
    }


    .container button{
        display: inline-block;
    }
        
}

@media (min-width: 970px) {

    header .logo-princial{
        
        padding: 40px 0 0 84px;
    }

    .container{
        margin: 0;
    }

    main{
        flex-direction: row;
        align-items: flex-start;
    }

    .container .input-text{
        font-size: 32px;
        padding: 0px;
        margin: 80px 50px;
        width: 577px;
        
    }

    .container button{
        display: inline-block;
    }

    .container .mensaje{
        display: flex;
        font-size: 24px;
        background-image: url(imagenes/Muñeco.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 16px;
        width: 300px;
        height: 450px;

    }

   
}    